:root {
  font-family: 'DIN Pro', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'DIN Pro', sans-serif !important;
  min-height: 100vh !important;
  color: white;
  overflow-x: hidden;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro'), local('DINPro'),
  url('/public/fonts/DINPro.woff2') format('woff2'),
  url('/public/fonts/DINPro.woff') format('woff'),
  url('/public/fonts/DINPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Bold'), local('DINPro-Bold'),
  url('/public/fonts/DINPro-Bold.woff2') format('woff2'),
  url('/public/fonts/DINPro-Bold.woff') format('woff'),
  url('/public/fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}